APP_NAME=Sarafina
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://sarafina.co.uk

LOG_CHANNEL=daily
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sarafina
DB_USERNAME=forge
DB_PASSWORD=

# Set to true on production server
FORCE_HTTPS=true

# Other configurations...
BCRYPT_ROUNDS=12

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=public

# Mail (Use a real service like Postmark or Mailgun for production)
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Sarafina"

# Stripe (Production keys)
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
